@tailwind base;
@tailwind components;
@tailwind utilities;

/* for react-js-pagination css */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

ul.pagination li {
  float: left;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 30px;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

ul.pagination li a {
  text-decoration: none;
  color: #EF4444;
  font-size: 20px;
}

ul.pagination li.active a {
  color: white;
}
ul.pagination li.active {
  background-color: #EF4444;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: #B91C1C;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #F87171;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* for snow css */
.App{
  position: fixed;
	display: flex;
  z-index: -1;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.Snowflake {
	display: inline-block;
	width: 0.1%;
	color: #FFFAFA;
	opacity: 0;
	font-size: 120px;
	margin: 0;
	padding: 0;
	animation: fall 10s linear infinite;
}

@keyframes fall {
	0% {
		opacity: 0;
	}
	3% {
		opacity: 0.9;
	}

	90% {
		opacity: 0.9;
	}
	100% {
		transform: translate(0, 97vh);
		opacity: 0;
	}
}